version: "3.9"

services:
  app:
    build: .
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      - db
    networks:
      - rede

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: task_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: senha123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - rede

volumes:
  postgres_data:

networks:
  rede:
